*.log
*.pdb
*.bak
*.dll
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Rr]efactor*/
[Oo]bj/
*.cache
*.vspscc
_ReSharper*/
*.dll
*.FileListAbsolute.txt
*/obj/
*.txt
bld/
build/
[Rr]eleases/
[Dd]ebugPublic/
TestResult.xml
*.VisualState.xml
*.mdf
